{% extends 'base.html' %}
{% block content %}
<div class="col-md-6-m-auto">
    <h3 style="text-align: center;">Edita jogo:</h3>
    <form action="{{url_for('edit', id=game.id)}}" method="POST">
        <input type="text" name="title" placeholder="Title" value="{{game.title}}" required  class="form-control"/>
        <input type="text" name="year" placeholder="Ano" value="{{game.year}}" required class="form-control"/>
        <input type="text" name="category" placeholder="Categoria" value="{{game.category}}" required class="form-control"/>
        <input type="text" name="platform" placeholder="Plataforma" value="{{game.platform}}" required class="form-control"/>
        <input type="text" name="price" placeholder="Preço" value="{{game.price}}" required class="form-control"/>
        <input type="text" name="quantity" placeholder="Quantidade" value="{{game.quantity}}" required class="form-control"/>
        <!-- Botões -->
        <input type="submit" value="Alterar" class="btn btn-success" class="form-control" onclick="return confirm('Deseja mesmo alterar o jogo {{game.title}}?')"/>
        <a href="{{url_for('estoque')}}">
            <input type="button" value="Cancelar" class="btn btn-danger" class="form-control"/>
        </a>
    </form>
</div>
{% endblock content %}