{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 m-auto">
    <h3 style="text-align: center;">Editar lenda:</h3><br>
    <form action="{{url_for('lendaEdit', id=lenda.id)}}" method="POST">
        <input type="text" name="tituloL" class="form-control" value="{{lenda.tituloL}}" required>
        <input type="text" name="origem" value="{{lenda.origem}}" class="form-control" required>
        <input type="text" name="descricao" value="{{lenda.descricao}}" class="form-control" required><br>
        <a href="{{url_for('lendaEdit', id=lenda.id)}}" onclick="return confirm('Confirma as alterações?')"><input type="submit" value="Alterar" class="btn btn-warning"></a>
        <a href="{{url_for('lendasHistorias')}}"><input type="button" value="Cancelar" class="btn btn-danger"></a>
    </form>  
</div>
{% endblock content %}